.signup{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 630px;
}
.signin{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 1030px;
}
.logout
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	right : 150px;
}
.mainpage
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 490px;
}
.account
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 700px;
}
.groups
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 910px;
}
.addnews
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 50px;
}
.title
{
	position: absolute;
	top : 150;
	left : 1250;
}
.managing
{
	color : red;
	font-size : 250%;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	position: absolute;
	background-image: linear-gradient(to right, #9EEFE1 0%, #9EEFE1 100%);
	background-size: 200% auto;
	left : 650px;
	top : 125px;
}
.allnewsdiv
{
	position: absolute;
	top : 170px;
	left : 745px;
}
.onenewsdiv
{
	border : solid 1px black; 
	padding : 15px;
}
h1 {
	color : red;
	position: absolute;
	top : 105px;
	left : 790px;
}