{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    <p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {{ form.title.label }}<br>
        {{ form.title }}<br>
        {% for error in form.title.errors %}
            <p role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit") }}</p>
    {{message}}
</form>
{% endblock %}