<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{{title}}</title>
</head>
<body>
<header>
      <nav>
          <p>
              {% if current_user.is_authenticated %}
              <a class="button is-large wall btntop" href="/wall">Стена</a>
              <a class="button is-large mainpage btntop" href="/">Новости</a>
              <a class="button is-large account btntop" href=/user/{{current_user.id}}>Аккаунт</a>
              <a class="button is-large groups btntop" href="/groups">Группы</a>
              <a class="button is-large is-info start btntop" href="/game">Начать игру</a>
              <a class="button is-large is-danger logout btntop" href="/logout">Выйти</a>
              {% else %}
              <a class="button is-large signup btntop" href="/register">Зарегистрироваться</a>
              <a class="button is-large signin btntop" href="/sign_in">Войти</a>
              {% endif %}
          </p>
      </nav>
    </header>
<main role="main">
    <!-- Begin page content -->
    {% block content %} {% endblock %}
</main>
</body>
</html>