{% extends "base.html" %}
{% block content %}
{% if group.everyone_can_post and is_sub or is_admin%}
<a class="button is-large topleft" href="/groups/{{group.id}}/create_post">Создать пост</a>
{% endif %}
<h1>{{group.name}}</h1>
<div class="allnewsdiv">
    <form action="{{ url_for('group_page_sorted', id=group.id)}}" method="post">
        <select name="sort_select">
            <option>По дате: сначала новые.</option>
            <option>По дате: сначала старые.</option>
        </select>
        <input type="submit" value="Принять">
    </form>
    {% if select_data == 'По дате: сначала старые.' %}
    {% for item in allgroups%}
    <div class="onenewsdiv">
        <h2>{{item.title}}</h2>
        <div>
            <p>{{item.text}}</p>
        </div>
        <div>
            <p>Опубликовано - {{item.date}}</p>
            {% if not item.anonymously %}
            <a href=/user/{{item.creator}}>Автор</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for item in allgroups[::-1]%}
    <div class="onenewsdiv">
        <h2>{{item.title}}</h2>
        <div>
            <p>{{item.text}}</p>
        </div>
        <div>
            <p>Опубликовано - {{item.date}}</p>
            {% if not item.anonymously %}
            <a href=/user/{{item.creator}}>Автор</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% if not is_admin %}
    {% if is_sub%}
        <a class="button is-large topright" href="/groups/{{group.id}}/unsubscribe">Отписаться.</a>
    {% else %}
        <a class="button is-large topright" href="/groups/{{group.id}}/subscribe">Подписаться.</a>
    {% endif %}
{% endif %}
{% endblock %}