<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Главная страница</title>
</head>
<body>
<header>
      <nav>
    <p>
        <a class="signup" href="/register">Зарегистрироваться</a>
        <a class="signin" href="/signin">Войти</a>
    </p>
      </nav>
    </header>
<main role="main">
        <h1>Новости сайта</h1>
{% for item in sitenews%}
<div>
    <h2>{{item.title}}</h2>
    <div>
        {{item.quickdescription}}
    </div>
    <div>
        Дата написания - {{item.date}}
    </div>
</div>
{% endfor %}
    </main>
</body>
</html>