<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header>
      <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
          {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить новость</a>
{% endif %}
      </nav>
    </header>
<main role="main" class="container">
        <h1>Записи в блоге</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
{% endfor %}
    </main>
</body>
</html>