<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="C:\Users\rost1\OneDrive\Документы\GitHub\GeoSM\CssFiles\main.css">
    <title>Title</title>
</head>
<body>
<header>
      <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
      </nav>
    </header>
<main role="main" class="container">
        <h1>Новости сайта</h1>
{% for item in sitenews%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.quickdescription}}
    </div>
    <div>
        Дата написания - {{item.date}}
    </div>
</div>
{% endfor %}
    </main>
</body>
</html>