{% extends "base.html" %}

{% block content %}
{% if current_user.is_site_admin %}
<a class="topleft" href="/add_news">Добавить новость.</a>
{% endif %}
<h1>Новости сайта</h1>
<div class="allnewsdiv">
    <form action="{{ url_for('main_page_sorted')}}" method="post">
        <select name="sort_select">
            <option>По дате: сначала новые.</option>
            <option>По дате: сначала старые.</option>
        </select>
        <input type="submit" value="Принять">
    </form>
    {% if select_data == 'По дате: сначала новые.' %}
    {% for item in sitenews[::-1]%}
    <div class="onenewsdiv">
        <a class="title" href=/news/{{item.id}}><h2>{{item.title}}</h2></a>
        <div>
            <p>{{item.quickdescription}}</p>
        </div>
        <div>
            <p>Дата написания - {{item.date}}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for item in sitenews%}
    <div class="onenewsdiv">
        <a class="title" href=/news/{{item.id}}>{{item.title}}</a>
        <div>
            <p>{{item.quickdescription}}</p>
        </div>
        <div>
            <p>Дата написания - {{item.date}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
