{% extends "base.html" %}

{% block content %}
<h1>Страница пользователя {{title}}!</h1>
{% if current_user.id == user_id %}
<a class="button is-large topleft btntop" href="/user/{{current_user.id}}/create_post">Создать пост</a>
{% endif %}
<a class="button is-large records" href="/user/{{user_id}}/records">Рекорды</a>
<div class="allnewsdiv">
{% for item in posts%}
    <div class="onenewsdiv">
        <a href="/user/{{user_id}}/post/{{item.id}}"><h2>{{item.title}}</h2></a>
        <div>
            <p>{{item.text}}</p>
        </div>
        <div>
            <p>Опубликовано - {{item.date}}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}